<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenid@ {{ nombre ? nombre : 'Usuario' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="username">
    <ion-card-content>
      <ion-card-title>Información del usuario</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-label class="info-label">Nombre completo:</ion-label>
        </ion-item>
        <ion-item>
        <ion-note slot="start" class="info-value">{{ nombre + ' ' + apellido }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label class="info-label">Correo:</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="start" class="info-value">{{ username ? username : email}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label class="info-label">Tipo de usuario:</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="start" class="info-value">{{ tipo }}</ion-note>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
