.info-label {
    font-size: 0.8rem; /* Ajusta el tamaño de fuente del label */
    font-weight: bold; /* Opcional: Aplica negrita al label */
  }
  
  .info-value {
    font-size: 1rem; /* Ajusta el tamaño de fuente del valor */
  }
  