<ion-header>
  <ion-toolbar>
    <ion-title>{{ nombreUsuario ? nombreUsuario : 'Perfil' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="nombreUsuario">
    <ion-card-content>
      <ion-card-title>Información del usuario</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-label class="info-label">Nombre:</ion-label>
        </ion-item>
        <ion-item>
        <ion-note slot="start" class="info-value">{{ usuarioLogueado.nombre }}  {{ usuarioLogueado.apellido}} </ion-note>
        </ion-item>
        <ion-item>
          <ion-label class="info-label">Correo:</ion-label>
        </ion-item>
        <ion-item>
          <ion-note slot="start" class="info-value">{{ usuarioLogueado.email }}</ion-note>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
