<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content id="form">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre de usuario:</ion-label>
        <ion-input aria-label="email" type="text" [(ngModel)]="nombreUsuario"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input aria-label="password" type="password" [(ngModel)]="contrasena"></ion-input>
      </ion-item>
  
      <ion-button id="login-button" expand="block" slot="start" name="login"  (click)="iniciarSesion()">Iniciar sesión</ion-button>
  
      <ion-button id="register-button" expand="block" (click)="registrarUsuario()">Registrarse</ion-button>
  
    </ion-list>
    

  </ion-content>
</ion-content>
