#Botones{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;

    //que cada boton ocupe el 50% de la pantalla

    #BotonComprar{
        width: 50%;
    }

    #BotonCarrito{
        width: 50%;
    }
}

#desc{
    padding-top: 30px;
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
}

