<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="cerrarModal()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ producto.name }}</ion-title>
    <ion-buttons class="button-carrito" slot="end">
      <ion-button (click)="irAlCarrito()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mostrar los datos del producto -->
  <ion-card>
    <img alt="Imagen de instrumento" [src]="producto.image" onerror="this.src='https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg';" />
    <ion-card-header>
      <ion-card-title>{{ producto.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-text>{{ producto.category }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Marca</ion-label>
        <ion-text>{{ producto.brand }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Precio</ion-label>
        <ion-text>{{ producto.price }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-text class="descriptitulo ion-text-center">Descripción:</ion-text>
      </ion-item>
      <ion-item>
        <ion-text id="desc">{{ producto.description }}</ion-text>
      </ion-item>
    </ion-card-content>
    <ion-card-content id="Botones">
      <ion-button class="btnPagar" (click)="realizarPago()">Comprar</ion-button>
      <ion-button class="btnCarrito" (click)="agregarAlCarrito()">Agregar al carrito</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
