<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar
      placeholder="Buscar productos"
      (ionInput)="buscarProductos($event)"
    ></ion-searchbar>
    <ion-buttons class="button-carrito" slot="end">
      <ion-button (click)="irAlCarrito()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos disponibles</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Resultados del searchbar -->
  <ion-list id="ListaProductos" *ngIf="mostrarListaProductos && productos.length > 0">
    <ion-item id="Producto" *ngFor="let producto of productos | filter: searchTerm">
      <!-- Resto del código -->
    </ion-item>
  </ion-list>


  <!-- Boton para probar -->
  <ion-grid class="productos-grid">
    <ion-card *ngFor="let producto of productos | filter: searchQuery" class="producto-col">
      <!-- imagen alternativa: https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg -->
      <img alt="Imagen del producto" [src]="producto.image" (error)="producto.image='https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg'">
      <ion-card-header>
        <ion-card-title>{{ producto.name }}</ion-card-title>
        <ion-card-subtitle>{{ producto.brand }}</ion-card-subtitle>
        <ion-card-subtitle class="precio-producto">${{ producto.price }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button id="BotonProducto" expand="full" (click)="verProducto(producto)">VER PRODUCTO</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>

