ion-item{
    border-radius: 7px !important;
}

ion-thumbnail {
    width: 100%;
    height: 100%;
  }
  
  ion-img {
    width: 100%;
    height: 300px;
    //que la imagen se achique o se agrande dependiendo del tamaño de la pantalla
    object-fit: contain;
  }
  